<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.halftough.webcomreader">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".activities.WebcomReaderApplication">
        <activity android:name=".activities.MyWebcoms.MyWebcomsActivity"
            android:label="@string/title_activity_my_webcoms">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.AddWebcomActivity"
            android:label="@string/title_activity_add_webcom"
            android:parentActivityName=".activities.MyWebcoms.MyWebcomsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.halftough.webcomreader.activities.MyWebcoms.MyWebcomsActivity" />
        </activity>
        <activity
            android:name=".activities.WebcomInfoActivity"
            android:label="@string/title_activity_webcom_info"
            android:parentActivityName=".activities.AddWebcomActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.halftough.webcomreader.activities.AddWebcomActivity" />
        </activity>
        <activity
            android:name=".activities.ChapterList.ChapterListActivity"
            android:label="@string/title_activity_page_list"
            android:parentActivityName=".activities.MyWebcoms.MyWebcomsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.halftough.webcomreader.activities.MyWebcoms.MyWebcomsActivity" />
        </activity>
        <activity
            android:name=".activities.ReadChapter.ReadChapterActivity"
            android:label="@string/title_activity_read_webcom"
            android:parentActivityName=".activities.ChapterList.ChapterListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.halftough.webcomreader.activities.ChapterList.ChapterListActivity" />
        </activity>

        <service
            android:name=".DownloaderService"
            android:exported="false"></service>
    </application>

</manifest>